.header {
  // Humburger opening class
  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $darkGrayishBlue;
    opacity: 0;
    visibility: hidden;
  }
  nav {
    padding: 2.8rem 1.5rem;

    @include breakpoint-up(large) {
      padding-top: 9rem;
      padding-bottom: 5.5rem;
    }
  }
  &__logo {
    img {
      width: 4.5rem;
      height: 2.8rem;
      @include breakpoint-up(medium) {
        width: 6.4rem;
        height: 4rem;
      }
    }
  }
  &__toggle {
    z-index: 1;
    > span {
      display: block;
      height: 3px;
      width: 4rem;
      background-color: $veryDarkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 10px 1px;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
  &__links {
    a {
      font-size: $font-md;
      color: $darkGrayishBlue;
      transition: color 200ms ease-in-out;

      &:hover {
        color: $softRed;
      }
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }
  &__menu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 15.2rem;
    padding-left: 2.5rem;
    width: 68%;
    background: $white;
    box-shadow: 1rem 0 2rem 2rem rgba(255, 255, 255, 0.2);
    transform: translateX(100%);

    a {
      display: block;
      font-size: $font-lg;
      color: $veryDarkBlue;
      transition: color 200ms ease-in-out;

      &:hover {
        color: $softRed;
      }
      &:not(:last-child) {
        margin-bottom: 3.8rem;
      }
    }
  }
}
