.news {
  padding: 2.5rem 2.3rem;
  background-color: $veryDarkBlue;
  margin-bottom: 6.4rem;

  @include breakpoint-up(medium) {
    // margin-bottom: 0;
    width: 100%;
    margin: 0;
  }

  &__article {
    padding-top: 2.8rem;

    &:not(:last-child) {
      padding-bottom: 2.8rem;
      border-bottom: 1px solid $darkGrayishBlue;
    }
    h3 {
      cursor: pointer;
      &:hover {
        color: $softOrange;
      }
    }
  }
}
