// -- colors --
$softOrange: hsl(35, 77%, 62%);
$softRed: hsl(5, 85%, 63%);
$grayishBlue: hsl(233, 8%, 79%);
$darkGrayishBlue: hsl(236, 13%, 42%);
$veryDarkBlue: hsl(240, 100%, 5%);
$white: hsl(36, 100%, 99%);

// -- font-size --

$font-xsm: 1.4rem; // 14px
$font-sm: 1.5rem; // 15px
$font-md: 1.6rem; //16px
$font-lg: 1.7rem; //17px
